<div class="container">
    <h1>Main sueprvisores<h1>
    <h5>Bienvenido Supervisor<h5>
    <%= button_to "Logout", destroy_supervisor_session_path, method: :delete, class:"btn btn-info p-1"  %>
</div>

