<div>
    <% if current_admin.is_admin? %>
        <% name = "Administrador" %>
    <% else %>
        <% name = "Supervisor" %>
    <% end %>
    <h1>Main <%= name %></h1>
    <h5>Bienvenido, <%= current_admin.first_name %>!</h5>
    <p>Mi mail es <%= current_admin.email %></p>
    <br>
    <div class="container d-flex justify-content-start">
    <%= button_to "Logout", destroy_admin_session_path, method: :delete, class:"btn btn-info p-1 m-2"  %>

  </div>
</div>

