<div class="container">
    <h1>Main administrador</h1>
    <h5>Bienvenido administrador</h5>
    <br>
    <%= button_to "Logout", destroy_admin_session_path, method: :delete, class:"btn btn-info p-1"  %>

</div>

