<div class="mb-11vh mt-11vh">
    <div class="autos d-flex flex-column align-items-center">
    <h4 class="p-2">Los mejor autos disponibles</h4>
        <%# <div class="card" style="width: 18rem;"> %>

        <%@autos.each do |auto| %>
            <%if (auto.estado == "Disponible")%>
                <div class="card" style="width: 19rem;">
                    <%if auto.imagen.attached?%>
                        <%= image_tag(auto.imagen) %></td>
                    <%else%>
                        <label>Sin Foto</label>
                    <%end%>
                    <div class="card-body">
                        <h5 class="card-title"><%=auto.modelo%></h5>
                        <p class="card-text">Año: <%=auto.anio%></p>
                        <p class="card-text">Tipo de caja: <%=auto.tipo_de_caja%></p>
                    </div>
                </div>
                <br>
            <%end%>
        <% end %>

        <%# <div class="card" style="width: 19rem;">
        <img src="https://thumbs.dreamstime.com/b/ferrari-f-white-background-251916421.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <b class="card-text">Ferrari Rey de Copas</b>
            <p class="card-text">Modelo 2018. A 0.4 km de distancia</p>
        </div>
        </div>

        <div style="margin-top:15px"></div>
        <div class="card" style="width: 19rem;">
        <img src="https://www.kindpng.com/picc/m/112-1120928_tesla-model-3-white-front-view-white-tesla.png" class="card-img-top" alt="...">
        <div class="card-body">
            <b class="card-text">Tesla Eco-Power</b>
            <p class="card-text">Modelo 2022. A 1.3 km de distancia</p>
        </div>
        </div>

        <div style="margin-top:15px"></div>
        <div class="card" style="width: 19rem;">
        <img src="https://http2.mlstatic.com/D_NQ_NP_393111-MLA20480496148_112015-O.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <b class="card-text">Reno 12 La Vieja Escuela</b>
            <p class="card-text">Modelo 1978. A 1.5 km de distancia</p>
        </div>
        </div> %>
    </div>
</div>

