
    <div class="border border-info d-flex z2 p-5 justify-content-center">
      <%= link_to "ðŸ“ #{request.location.city}", root_path , class: "btn btn-warning rounded-4 fs-2 text-white", id:"myCity" %>
    </div>
