<div id="myNav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">
          <a href="#">About</a>
          <a href="#">Services</a>
          <a href="#">Clients</a>
          <a href="#">Contact</a>
        </div>
     </div>


    <div class="border border-success d-flex z2 p-3 justify-content-between">
      <span class="btn btn-warning rounded-circle floating_btn text-white z2 d-flex align-items-center" onclick="openNav()"><div>&#9776;</div></span>
      <span class="btn btn-warning rounded-circle floating_btn text-white z2 d-flex align-items-center p-2">
        <%= link_to "🚗", root_path, style:"text-decoration:none" %>
      </span>
    </div>
