// @import 'bootstrap/scss/bootstrap';
// @import 'bootstrap-icons/font/bootstrap-icons';

@import "bootstrap";

black_bg {
  background-color: black;
}

.z1 {
  z-index: 1;
}

.z2 {
  z-index: -2;
}

.floating_btn {
  font-size: 25px;
  cursor: pointer;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
}

// Menu izquierdo
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  // background-color: orange;
  background-color: rgb(255, 171, 14);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay button {
  background-color: rgb(255, 171, 14);
  color: #818181;
}

// .overlay-content {
//   position: relative;
//   top: 25%;
//   width: 100%;
//   text-align: center;
//   margin-top: 30px;
// }

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 28px;
  color: #818181;
  display: block;
  transition: 0.3s;
}



.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay button:hover,
.overlay button:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  // position: absolute;
  top: 20px;
  // right: 65px;
  align-self: flex-end;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

// Fin menu izquierdo


.element-mobile-100vh {
  height: 100vh;
  /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}

// rounded button
.bien_redondito {
  border-radius: 50%;
  width: 52px;
  height: 52px;
}

i {
  margin-left: 5px;
  color: #818181;
}

i:hover,
i:focus {
  color: rgb(255, 171, 14);
  cursor: pointer;
}

.icon_img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  background-color: white;
  margin-bottom: 2rem;
}

.hr-menu {
  z-index: auto;
  border: 2px solid white;
  border-radius: 10%;
  width: 80%;
  margin: 0 auto;
  margin-top: 5px;
}

.icon_admins_list {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 auto;
  background-color: white;
}

.icon_img_admins {
  width: 50px;
  height: 48px;
  border-radius: 50%;
  margin: 0 auto;
  background-color: white;
}

.map-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.map-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.map-bottom {
  position: fixed;
  // border : 5px solid red;
  bottom: 25px;

  // center
  left: 50%;
  transform: translateX(-50%);
  // red border
  // border: 10px solid red;
  z-index: 1;

}


.gray_bg_showUser {
  background-color: #b5b5b549;
  border-radius: 10px;
  padding: 1.8rem;
  margin: 10px;
}

.mb-10vh {
  margin-bottom: 10vh;
}

.mt-10vh {
  margin-top: 10vh;
}

.mb-11vh {
  margin-bottom: 11vh;
}

.mt-11vh {
  margin-top: 11vh;
}

.mb-12vh {
  margin-bottom: 12vh;
}

.mt-12vh {
  margin-top: 12vh;
}

// ------------------------------------------ PARA EL CERTIFICADO

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pinyon+Script|Rochester');

.cursive {
  font-family: 'Pinyon Script', cursive;
}

.sans {
  font-family: 'Open Sans', sans-serif;
}

.bold {
  font-weight: bold;
}

.block {
  display: block;
}

.underline {
  border-bottom: 1px solid #777;
  padding: 5px;
  margin-bottom: 15px;
}

.margin-0 {
  margin: 0;
}

.padding-0 {
  padding: 0;
}

.pm-empty-space {
  height: 40px;
  width: 100%;
}

body {
  // padding: 20px 0;
  background: #ccc;
}


.pm-certificate-container {
  position: relative;
  width: 355px;
  height: 600px;
  background-color: #FFC107;
  padding: 30px;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);

  .outer-border {
    width: 347.375px;
    height: 594px;
    position: relative;
    left: 50%;
    margin-left: -173.6875px;
    top: 50%;
    margin-top: -297px;
    border: 2px solid #fff;
  }

  .inner-border {
    width: 330px;
    height: 570px;
    position: absolute;
    left: 50%;
    margin-left: -164.806125px;
    top: 50%;
    margin-top: -285px;
    border: 2px solid #fff;
  }

  .pm-certificate-border {
    position: absolute;
    width: 319.375px;
    height: 550px;
    padding: 0;
    border: 1px solid #E1E5F0;
    background-color: rgb(255, 255, 255);
    background-image: none;
    left: 50%;
    margin-left: -159.6875px;
    top: 50%;
    margin-top: -275px;

    .pm-certificate-block {
      width: 284.375px;
      height: 200px;
      position: relative;
      left: 50%;
      margin-left: -142.1875px;
      top: 50px;
      margin-top: 0;
    }

    .pm-certificate-header {
      margin-bottom: 10px;
    }

    .pm-certificate-title {
      position: relative;
      top: 40px;

      h2 {
        font-size: 30px !important;
      }
    }

    .pm-certificate-body {
      padding: 0px;

      .pm-name-text {
        font-size: 20px;
      }
    }

    .pm-earned {
      margin: 15px 0 20px;

      .pm-earned-text {
        font-size: 20px;
      }

      .pm-credits-text {
        font-size: 15px;
      }
    }

    .pm-course-title {
      .pm-earned-text {
        font-size: 20px;
      }

      .pm-credits-text {
        font-size: 15px;
      }
    }

    .pm-certified {
      font-size: 12px;

      .underline {
        margin-bottom: 5px;
      }
    }

    .pm-certificate-footer {
      width: 284.375px;
      height: 100px;
      position: relative;
      left: 50%;
      margin-left: -142.1875px;
      bottom: -105px;
    }
  }
}

// ------------------------------------------ FIN


