<header class="text-bg-dark p-3">
  <div class="container">
    <%= link_to root_path, class: "d-flex align-items-center text-decoration-none text-white" do %>
      <%= image_tag "logo.png", width: 75 %>
      <span class="fs-4">Critter</span>
    <% end %>
  </div>
</header>
